= simple_form_for [@invitation, @response] do |f|
  - if @response.invitation.party_size > 1
    .form-group
      .form-control-static We've reserved #{pluralize @response.invitation.party_size, 'seat'} for you!
  - if @response.errors.any?
    #error_explanation
      %h2= "#{pluralize(@response.errors.count, "error")} prohibited this response from being saved:"
      %ul
        - @response.errors.full_messages.each do |msg|
          %li= msg
  = f.input :responded_with, collection: Response.possible_responses, label: 'Are you able to attend?', as: :radio_buttons
  .attending-wrapper.hidden
    - if @response.invitation.party_size > 1
      = f.input :party_size, collection: 1..@response.invitation.party_size, label: 'How many in your party?', include_blank: false
    .form-group.radio_buttons.optional.food_restrictions_toggle
      %label.radio_buttons.optional.control-label
        Any food restrictions?
      %span.radio
        %label(for='response_food_restrictions_toggle_true')
          %input.radio_buttons.optional(type="radio" value="true" name="food_restrictions" id="response_food_restrictions_toggle_true")
          Yes
      %span.radio
        %label(for='response_food_restrictions_toggle_false')
          %input.radio_buttons.optional(type="radio" value="false" name="food_restrictions" id="response_food_restrictions_toggle_false")
          No

    = f.input :food_restrictions, label: "Please describe"
    - if false
      = f.label :plan_to_bus, label: "The Bus from SF"
      = f.input :plan_to_bus, label: "Count me in for the SF Bus!", hint: "We've hired a wedding bus that will pick up at a TBD location (probably near Powell Bart) at 3pm and drop-off again after the wedding, probably around 11pm."

      = f.input :plan_to_bus, as: :radio_buttons, collection: [['Yup', true], ['Nope', false]], label: "Will you be taking the bus from SF?", hint: "We've hired a wedding bus that will pick up at a TBD location (probably near Powell Bart) at 3pm and drop-off again after the wedding, probably around 11pm."
  = f.input :comment
  = f.button :submit
